body{
    background-color: #383838;
    font-family : 'Inconsolata', monospace;
    user-select: none;
    max-zoom: 150%;

    color: #bbbbbb;
}

.cabecalho{   
    background-color: #404040;
}

.cabecalho .menu{
    max-width: 1200px;
}

.cabecalho .menu a:hover{
    transform: scale(1.1);
    transition: 3s;
}

.cabecalho .navbar-nav a{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: #dbdbdb;
}
.cabecalho .navbar-nav a:hover{
    color: #dbdbbd;
    transition: 700ms;
    transform: scale(1.1);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cabecalho .navbar-toggler a{
    color: rgb(129, 129, 129);
}

.cabecalho .navbar-toggler a:hover{
    color: black;

    transition: 700ms;
}

.minimizar{
    background-color: #dbdbbd;
    border-style: solid;
}

.sobre{
    max-width: 1200px;
}

.sobre h2{
    justify-content: center;
    display: flex;
    
    margin-top: 30px;
    margin-bottom: 60px;

    background-color: #414141;
}
.sobre .mb-3{
    max-width: 1000px; 
    margin-top: 30px;

    background-color:#404040;
    
    border: 0;
    
    justify-content: center;
    display: flex;
    align-items: center;
}

.sobre .card-img{
    border-radius: 5%;
}



.sobre .card-body .card-title{
    font-size: 35px;
    font-weight: 550;
}
.sobre .card-body .boasvindas{
    font-size: 20px;
}

.sobre .card-body .card-text{
    margin-top: -5px;
}

.habilidades h2{
    justify-content: center;
    display: flex;
    margin-top: 95px;
    margin-bottom: 50px;

    background-color: #414141;
}

.habilidades .skill{
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../imagens/programacao.jpg);
    margin-bottom: 50px;

    height: 90px;
}

.habilidades .modal-content{
    background-color: #424242;
}

.habilidades .modal-body{
    justify-content: center;
    align-items: center;
    display: flex;
}

.habilidades .card{
    background-color: #505050;
    border: 0;

    justify-content: center;
    display: flex;
    align-items: center;
}

.habilidades .card:hover{
    background-color: #303030;
    transition: 900ms;
    transform: scale(1.1);
}

.habilidades #mobile .modal-body{
    background-color: #474747;
    
    justify-content: center;
    display: flex;
    align-items: center;
}

.habilidades .front{
    background-color: #383838;
    
    width: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.curriculo h2{
    justify-content: center;
    display: flex;
    align-items: center;

    margin-bottom: 50px;
    margin-top: 60px;

    background-color: #414141;
}

.curriculo h5{
    justify-content: center;
    display: flex;
    align-items: center;
}
.curriculo a{
    color: inherit;
    
}
.curriculo .btn{
    justify-content: center;
    display: flex;
    align-items: center;

    border-color: #383838;
    background-color: #383838;
    
}

.curriculo .btn:hover{
    justify-content: center;
    display: flex;
    align-items: center;

    border-color: #383838;
    background-color: #383838;

    
}

.curriculo p{
    color: white;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #303030;
    border-radius: 5%;
    background-size: 50px;
}

.curriculo p:hover{
    background-color: #171717;
    transition: 2s;
}

.contato{
    max-width: 900px;
}
.contato h2{
    justify-content: center;
    display: flex;
    align-items: center;

    margin-top: 50px;
    background-color: #414141;
}

.contato h5{
    justify-content: center;
    display: flex;
    align-items: center;    
}

.contato .form-row{

    justify-content: center;
    align-items: center;
    display: flex;

    margin: 15px;
}

.contato .form-row .col-7{
    margin: 10px;
}

.social .card{
    border: 0;
}

.social .card-header{
    background-color: #323232;
}

.social .list-group-item{
    background-color: #474747;
    border-color: #383838;
}

.social a{
    color: #bbbbbb;
}

.rodape{
   background-color:  #414141;
   height: 60px;

   margin-top: 60px;
   bottom: 0;
}

.rodape p{
    justify-content: center;
    display: flex;

    padding: 5px;
}

@media only screen and (max-width: 400px){
    .habilidades .modal-title{
       position: static;
    }

    
}

@media only screen and (min-width: 575px){
    .habilidades .modal-body{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .habilidades .modal-dialog{
        justify-content: center;
        align-items: center;
        display: flex;
    }

}

